<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="glass.phil.monzo">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".MonzoApp"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Monzo"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".presentation.MainActivity" android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="${redirectHost}" android:scheme="${redirectScheme}" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="${mapsApiKey}" />
  </application>
</manifest>
